.info_div_c{
    display: flex;
    padding: 10px;

}
.artist_img_c{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text_c{
    margin: 10px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: right;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.product_container_c{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

}
.product_title_c{
    text-align: center;
    font-size: 24px;
}
.product_image_c{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.product_description_c{
    font-size: 20px;
}

.img_cont_c{
    padding-top: 5%;
    width: 25%;
}