<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/base_css.css">
    <title>{% block title_block %} {% endblock %}</title>
</head>
<body>
<div id="content">
    {% block content_block %}
    {% endblock %}
</div>
</body>
</html>