{% extends "base_template.html" %}
{% block title_block %} home {% endblock %}
{% block content_block %}
<link rel="stylesheet" type="text/css" href="static/content_css.css">

{% for artist in artists %}
<div class="info_div_c">
    <div class="img_cont_c">
        <img class="artist_img_c" src="{{ backend }}/images?type=artist&id={{ artist.id }}" alt="artist_img">
    </div>
    <div class="text_c">
        <h4>{{ artist.stage_name }}</h4>
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Morbi efficitur nisi sed nulla consectetur dapibus.
        Pellentesque facilisis nisi non convallis convallis. Nulla eu mauris vitae
        lectus porta auctor vitae quis velit. Sed tempor elit sed dolor fringilla, non
        scelerisque lectus tincidunt. Donec id sodales sapien, sit amet mattis est. In id
        tellus ex. Quisque id egestas mi, ac aliquam ligula. Vestibulum dignissim turpis

    </div>
    <div class="nav_div_c">
        <ul>
            <li><a class="active" href="/merch/{{artist.id}}">Merch</a></li>
        </ul>
    </div>
    </div>
    {% endfor %}

{% endblock %}