{% extends "base_template.html" %}
{% block title_block %} home {% endblock %}
{% block content_block %}
<link rel="stylesheet" type="text/css" href="/static/content_css.css">
    {% for product in products %}
        <div class="product_container_c">
            <div class="product_title_c">{{ product }}</div>
            {% for element in products[product] %}
                <div class="img_cont_c">
                    <img class="product_image_c" src="{{ backend }}/images?type=product&id={{ element.product_id }}" alt="product_img">
                </div>
                <div class="product_description_c">
                    {{element.name}}
                </div>
            {% endfor %}
        </div>


    {% endfor %}

{% endblock %}